@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('https://i.ytimg.com/vi/ToUGNeIdt04/maxresdefault.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center ;
    height:  100vh;
    
}
   

.baile ul{
    display:inline-block;
    
}
 .baile a{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 1.8rem;
    margin-left: 20px;
 }
 .menu{
    background-color: black;
    padding: 15px;
    margin:0 auto;
    width: 85%;
    margin-top: 1%;
}

.ativo{
    background-color: blue;
}
 .menu li{
    list-style: none;
    list-style-type:none;
    display: inline-block;
    padding: 13px;
    letter-spacing: 1.5px;
    margin-right: 10px;
    text-transform: uppercase;
    margin-top: -7px;
    border-radius: 25px;
    transition: 0.7s all;
    font-size:  1.8rem;
 }
 .titulo-main{
     text-align: left;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-weight:bold;
     margin-top: 8%;
     font-size: 4.0rem;
     width: 50.5%;
     margin-left: 145px;
 }
 .sub-main{
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.8rem;
    width: 35%;
    color:blanchedalmond;
    margin-top: 1.5%;
    margin-left: 145px;
    text-transform: uppercase;
    background-color: black;
    text-align: center;
    border-radius: 20px;

 }
 .Diversao{
      color: white;
      background-color: black;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      width: 138px;
      height: 40px;
      border-radius: 26px;
      margin-left: 145px;
      margin-top: 1.5%;

 }
 
 i{
     color: white;
     margin-left: 568px;
 }